@import url("https://fonts.googleapis.com/css2?family=Anton&family=League+Gothic&display=swap");
@font-face {
  font-family: paragraph_font;
  src: url(./font/NeueMontreal-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: paragraph_font_head;
  src: url(./font/NeueMontreal-Bold.otf);
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #fbfaf9;
  -webkit-tap-highlight-color: transparent;
}
section,
footer {
  overflow: hidden;
  white-space: wrap;
  word-break: break-word;
}
.successIcon {
  position: fixed;
  top: -15rem;
  transition: 0.3s ease all;
}
.success {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #edfbd8;
  border-radius: 8px;
  border: 1px solid #84d65a;
  box-shadow: 0px 0px 5px -3px #111;
}

.success__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.success__icon path {
  fill: #84d65a;
}

.success__title {
  font-weight: 500;
  font-size: 14px;
  color: #2b641e;
}

.success__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.success__close path {
  fill: #2b641e;
}
#backtoTop {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 9999;
}
#backtoTop .Btn {
  width: 45px;
  height: 45px;
  background: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.15);
}

#backtoTop .arrow path {
  fill: white;
}

#backtoTop .text {
  font-size: 0.7em;
  width: 100px;
  position: absolute;
  color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -18px;
  opacity: 0;
  transition-duration: 0.7s;
}
.scroll {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scrolldown {
  --color: #1d1d1d;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}
#navUnorderList a {
  text-decoration: none;
}
#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  z-index: 99999;
}
#loading .spinner {
  --clr: #ffffff;
  --gap: 6px;
  /* gap between each circle */
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

#loading .spinner span {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--clr);
  opacity: 0;
}

#loading .spinner span:nth-child(1) {
  animation: fade 1s ease-in-out infinite;
}

#loading .spinner span:nth-child(2) {
  animation: fade 1s ease-in-out 0.33s infinite;
}

#loading .spinner span:nth-child(3) {
  animation: fade 1s ease-in-out 0.66s infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
}

@keyframes bubbleAnimation {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

#backtoTop .Btn:hover .text {
  opacity: 1;
  transition-duration: 0.7s;
}

#backtoTop .Btn:hover .arrow {
  animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

nav {
  background: transparent;
  height: 10rem;
  padding: 1.5rem 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
  z-index: 99999;
  background: #1d1d1d;
}
nav.scrolled {
  background: #1d1d1d !important;
}
nav img {
  height: 7rem;
}
nav ul {
  list-style: none;
}
nav ul.hiddenMobile {
  display: flex;
  list-style: none;
  position: relative;
}
nav ul.hiddenDesktop {
  display: none;
}
nav ul li {
  margin: 0 1.5rem;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
  font-weight: 700;
  font-style: italic;
  transition: 0.2s ease;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  transition: 0.2s ease;
}
nav ul li a:hover {
  color: #e5b80b;
}
nav ul li:hover {
  color: #e5b80b;
}
#enquiry {
  position: relative;
}
#dropdown {
  position: absolute;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: start;
  width: 25rem;
  padding: 1.5rem;
  border-radius: 1rem;
  top: 4rem;
  right: 0rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(0);
  transition: 0.2s ease;
}
#productDropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 4rem;
  right: 25rem;
  padding: 2rem;
  border-radius: 1rem;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(0);
  transition: 0.2s ease;
}
#productDropdown li {
  margin: 1rem 0;
  color: #1d1d1d;
}
#productDropdown li a {
  color: #1d1d1d;
}
#dropdown li {
  margin: 1rem 0;
}
#dropdown li a {
  color: #1d1d1d;
}
#enquiry ul li {
  font-size: 2rem;
  margin: 1rem 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#enquiry ul li {
  color: #1d1d1d;
}
header {
  height: 100vh;
  width: 100%;
  display: flex;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  position: relative;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.waves {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100px;
  max-height: 150px;
  bottom: 0;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

header .headText {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 13rem;
}
header .headText img {
  width: 40rem;
}
header .image {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .image img {
  height: 35rem;
}
header .headText h3 span {
  color: #e5b80b;
}

header .headText h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 6rem;
  color: #ffffff;
  font-weight: 400;
}
header .headText h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
  color: #ffffff;
  margin-top: 1rem;
  font-family: paragraph_font;
}
section.about {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}
section.about h1 {
  margin: 2rem 0;
  font-size: 4rem;
  font-family: Anton, sans-serif;
  font-weight: 400;
  font-style: italic;
}
section.pricing h1 {
  color: #e5b80b;
}
section.pricing h1 section.about b {
  font-size: 2rem;
}
section.about .paragraph {
  width: 80%;
}
#choose img.whyChooseUs {
  width: 100%;
  height: auto;
}
section.about .chooseUs {
  display: flex;
  flex-direction: column;
  margin: 4rem 0 0 0;
}
section.about .chooseUs .flexItems {
  display: flex;
  padding: 3rem;
  justify-content: center;
}
section.about .chooseUs .flexItems img {
  height: 25rem;
  border-radius: 1rem;
}
section.about .chooseUs .flexItems .detail {
  width: 50%;
  padding: 0 3rem;
}
section.about .chooseUs .partnership .detail,
section.about .chooseUs .reliability .detail {
  margin-right: 4rem;
}
section.about .chooseUs .flexItems .detail h2 {
  font-size: 2.5rem;
  font-family: paragraph_font_head;
  margin-bottom: 1rem;
  color: #1d1d1d;
}
section.about .chooseUs .flexItems .detail p {
  font-size: 1.7rem;
  font-family: paragraph_font;
  line-height: 1.5;
}
section.about .paragraph p {
  font-size: 1.8rem;
  margin: 1rem 0 3rem 0;
  font-family: paragraph_font;
  line-height: 1.5;
  text-align: justify;
}
section.about .paragraph img {
  border-radius: 2rem;
  margin-top: 7rem;
  width: 100%;
}
section.about .paragraph p button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  background: #1d1d1d;
  color: #fbfaf9;
  border: none;
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  font-size: 1.8rem;
}
section.about .paragraph p button:hover {
  background: #1d1d1dbd;
  animation: squeeze3124 0.9s both;
}

@keyframes squeeze3124 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
#hiddenMenu {
  display: none;
}
section.productItem .productDetails {
  width: 95%;
}
section.productItem .productDetails p {
  font-size: 2rem;
  margin: 2rem 0;
  font-family: sans-serif;
}
section.enquiryForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
section.enquiryForm h1 {
  margin: 2rem 0;
  font-size: 4rem;
  font-family: Anton, sans-serif;
  font-weight: 400;
  font-style: italic;
}
section.enquiryForm form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 6rem 0 5rem 0;
}
section.enquiryForm form button {
  padding: 1rem;
  height: 5rem;
  font-size: 2rem;
  width: 35rem;
  margin-top: 4rem;
  border-radius: 3rem;
  border: none;
  background: #00abe1;
  color: #ffffff;
  cursor: pointer;
  margin: auto;
  margin-top: 6rem;
  transition: 0.3s ease;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  font-size: 1.8rem;
}
section.enquiryForm form button:hover {
  background: #1d1d1dbd;
  animation: squeeze3124 0.9s both;
}
section.enquiryForm form .formSection {
  display: flex;
}
section.enquiryForm form .formSection .firstSectionForm {
  margin-right: 2rem;
  width: 50%;
}
section.enquiryForm form .formSection .secondSectionForm {
  margin-left: 2rem;
  width: 50%;
}
section.enquiryForm form .formItem {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}
section.enquiryForm form .formItem label {
  font-size: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-left: 0.2rem;
  font-family: sans-serif;
}
section.enquiryForm form .formItem input {
  padding: 1rem;
  height: 4.5rem;
  border: 0.2rem solid rgba(152, 124, 124, 0.795);
  border-radius: 1rem;
  transition: 0.2s ease;
  outline: none;
}
section.enquiryForm form .formItem input:focus {
  -webkit-box-shadow: 0px 0px 93px 0px rgba(222, 90, 53, 0.64);
  -moz-box-shadow: 0px 0px 93px 0px rgba(222, 90, 53, 0.64);
  box-shadow: 0px 0px 93px 0px rgba(222, 90, 53, 0.64);
  border: 0.2rem solid rgba(222, 90, 53, 0.64);
}
section.enquiryForm form .formItem label span {
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.enquiryForm form .formItem textarea {
  padding: 1rem;

  border: 0.2rem solid rgba(152, 124, 124, 0.795);
  border-radius: 1rem;
  transition: 0.2s ease;
  outline: none;
}
section.enquiryForm form .formItem textarea:focus {
  -webkit-box-shadow: 0px 0px 93px 0px rgba(222, 90, 53, 0.64);
  -moz-box-shadow: 0px 0px 93px 0px rgba(222, 90, 53, 0.64);
  box-shadow: 0px 0px 93px 0px rgba(222, 90, 53, 0.64);
  border: 0.2rem solid rgba(222, 90, 53, 0.64);
}
section.productItem {
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.productItem h1 {
  margin: 2rem 0;
  font-size: 4rem;
  font-family: Anton, sans-serif;
  font-weight: 400;
  font-style: italic;
}
section.productItem .underConstruction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.productItem .underConstruction img {
  height: 30rem;
}
section.productItem .underConstruction p {
  font-size: 2rem;
  margin: 2rem 0;
  text-align: center;
}
section.productItem .underConstruction button {
  padding: 1rem;
  font-size: 2rem;
  width: 20rem;
  border: 0.1rem solid #1d1d1d;
  color: #1d1d1d;
  border-radius: 3rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  font-size: 1.8rem;
}
section.productItem .underConstruction button:hover {
  background: #1d1d1d;
  color: #fbfaf9;
  animation: squeeze3124 0.9s both;
}
section.contact {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.contact .flexDis {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d1d1d;
  border-radius: 2rem;
  width: 95%;
  height: 45rem;
}
section.contact .flexDis img {
  height: 40rem;
}
section.contact .flexDis .disOne {
  width: 50%;
  display: flex;
  justify-content: center;
}
section.contact .flexDis .disTwo {
  margin-left: 5rem;
  width: 50%;
}
section.contact .flexDis .disTwo h1 {
  font-size: 3rem;
  margin-bottom: 4rem;
  margin-left: 1rem;
  color: #e5b80b;
  font-family: paragraph_font_head;
}
section.contact .flexDis .disTwo ul {
  list-style: none;
}
section.contact .flexDis .disTwo ul li {
  margin: 1rem 0;
}
section.contact .flexDis .disTwo ul li {
  font-family: paragraph_font;
  font-size: 1.9rem;
  font-weight: 400;
}
section.contact .flexDis .disTwo ul li a {
  text-decoration: none;
  color: #fbfaf9;
  display: flex;
  justify-content: start;
  align-items: center;
}
section.contact .flexDis .disTwo ul li a span {
  background-color: #1d1d1d;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
  color: #fbfaf9;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0 3rem 0;
}
footer p {
  font-size: 1.5rem;
  font-family: sans-serif;
  margin-top: 2rem;
  font-weight: bold;
}
footer ul {
  display: flex;
  list-style: none;
}
footer ul li a {
  margin: 2rem 1rem;
  padding: 1rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fbfaf9;
  cursor: pointer;
}
footer .socialIcons {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  border-top: 0.1rem solid #b9b3b3;
}
section.exporting {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.exporting h1 {
  margin: 2rem 0;
  font-size: 4rem;
  font-family: Anton, sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #1d1d1d;
  text-align: center;
}
section.exporting .mainDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 5rem;
}
section.exporting .items {
  margin: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.exporting .exportingContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.exporting .items h4 {
  font-size: 2.5rem;
  margin: 1rem 0 1rem 0;
  font-family: sans-serif;
  text-align: center;
  color: #1d1d1d;
}
section.exporting .items img {
  height: 11rem;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 0.1rem;
}

/* Countries section design  */
section.countries {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
section.countries h1 {
  margin: 8rem 0 2rem 0;
  font-size: 4rem;
  font-family: Anton, sans-serif;
  font-weight: 400;
  font-style: italic;
}
section.countries .index {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}
section.countries .index .items {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 1rem;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 3rem;
}
section.countries .index .items img {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}
section.countries .index .items h4 {
  font-family: paragraph_font;
  color: #ffffff;
  font-weight: 400;
}
section.countries .mainCountriesSection {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3rem;
}
section.countries .mainCountriesSection img {
  width: 100%;
  height: 100%;
}
section.countries .mainCountriesSection h3 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: paragraph_font;
  pointer-events: none;
}
section.countries .mainCountriesSection h3 span.countryIcon {
  color: #e40c2b;
  margin-right: 0.3rem;
  cursor: pointer;
  position: relative;
  font-size: 2.5rem;
  display: flex;
  pointer-events: auto;
}

section.countries .mainCountriesSection h3 span.countryName {
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  height: 2.5rem;
  background: #445;
  color: #ffffff;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  transform: scale(0);
  pointer-events: none;
  font-size: 1rem;
  transition: 0.3s ease;
}
section.countries .mainCountriesSection h3 span.countryIcon:hover {
  color: #445;
}
section.countries
  .mainCountriesSection
  h3
  span.countryIcon:hover
  + span.countryName {
  transform: scale(1);
}
section.countries .mainCountriesSection h3.usa {
  top: 49%;
  left: 19%;
}
section.countries .mainCountriesSection h3.germany {
  top: 42.5%;
  left: 48.7%;
}
section.countries .mainCountriesSection h3.uae {
  top: 57.8%;
  left: 60.9%;
  transform: rotate(45deg);
}
section.countries .mainCountriesSection h3.australia {
  top: 76%;
  left: 82%;
}
section.countries .mainCountriesSection h3.qatar {
  top: 54.9%;
  left: 59.76%;
}
section.countries .mainCountriesSection h3.kuwait {
  top: 53.1%;
  left: 58.8%;
}
section.countries .mainCountriesSection h3.netherlands {
  top: 41.2%;
  left: 47.7%;
}
section.countries .mainCountriesSection h3.france {
  top: 45%;
  left: 46.8%;
}
section.countries .mainCountriesSection h3.uk {
  top: 38%;
  left: 45.1%;
}
section.productItem .categories .cardSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 8rem auto 0rem;
}
section.productItem .categories .cardSection .items {
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background: #1d1d1d;
}
section.productItem .categories .cardSection .items h2 {
  font-size: 2.5rem;
  font-family: paragraph_font_head;
  color: #e5b80b;
}
section.productItem .categories .cardSection .items p {
  font-size: 1.5rem;
  margin: 2rem 0;
  font-family: paragraph_font;
  color: #ffffff;
}
section.productItem .categories .cardSection .items button {
  padding: 1rem 2rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: #ffffff;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}
section.productItem .categories .cardSection .items a {
  text-decoration: none;
}
section.pricing {
  background: radial-gradient(
    circle,
    rgb(64, 64, 64) 0%,
    rgba(26, 28, 32, 255) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  color: #ffffff;
}
section.pricing p {
  font-size: 1.8rem;
  font-family: paragraph_font;
  width: 80%;
  line-height: 1.5;
  text-align: center;
}
section.pricing .pricingContainer {
  display: flex;
  margin: 7rem 0 10rem;
  justify-content: center;
  align-items: center;
}
section.pricing .pricingContainer .cards {
  padding: 4rem 2rem 2rem 2rem;
  background: linear-gradient(179deg, #16191d 38.2%, rgb(63, 61, 61) 100.9%);
  margin: 0 1rem;
  height: 45rem;
  width: 25rem;
  border-radius: 1rem;
  color: white;
}
section.pricing .pricingContainer .cards h3 {
  text-align: center;
  font-size: 2.3rem;
  font-family: paragraph_font;
  margin-bottom: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}
section.pricing .pricingContainer .cards h2 {
  text-align: center;
  font-size: 3.7rem;
  font-family: "paragraph_font";
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid #f27100;
  font-weight: 400;
}
section.pricing .pricingContainer .cards ul {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
section.pricing .pricingContainer .cards ul li {
  margin: 0.4rem 0;
  font-size: 1.4rem;
  font-family: paragraph_font;
}
section.pricing .pricingContainer .firstSection,
section.pricing .pricingContainer .thirdSection {
  height: 40rem;
  background: transparent;
  color: #1d1d1d;
  border: 0.1rem solid #ffffff;
  color: #ffffff;
}
section.pricing .pricingContainer .firstSection h2,
section.pricing .pricingContainer .thirdSection h2 {
  border-bottom: 0.2rem solid #ffffff;
}
section.bedsheet .imageGal {
  margin-bottom: 4rem;
}
section.bedsheet .btnViewMore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
section.bedsheet button {
  padding: 1rem 2.5rem;
  width: auto;
  border-radius: 3rem;
  border: none;
  background: #1d1d1d;
  color: #ffffff;
  height: 4.5rem;
  cursor: pointer;
}
section.bedsheet button:disabled {
  background: #1d1d1d90;
}
section.bedsheet .headtext {
  height: 50rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.bedsheet .swiper-backface-hidden .swiper-slide {
  padding: 5rem 0 !important;
}
section.bedsheet .headtext .text {
  width: 85%;
  color: #ffffff;
  padding: 0 15rem;
}
section.bedsheet .headtext .text h1 {
  font-size: 3rem;
  font-family: paragraph_font_head;
  margin-bottom: 1rem;
  margin-top: 0;
}
section.bedsheet .headtext .pHeadTwo {
  width: 74rem;
  color: #ffffff;
  padding: 0 15rem 0 10rem;
}
.styles-module_wrapper__1I_qj {
  z-index: 99999999 !important;
}
section.bedsheet .callToAction {
  margin-bottom: 6rem;
}
section.bedsheet .headtext .text p {
  font-size: 2rem;
  margin: 2rem 0;
  font-family: paragraph_font;
  line-height: 1.5;
}
section.bedsheet .headtext .text p.firstPagra {
  font-size: 2.1rem;
}
section.bedsheet .headtext .text p span {
  color: #e5b80b;
}
section.bedsheet .imageGal h1 {
  font-size: 3rem;
  margin: 5rem 0 3rem 3rem;
  font-family: "paragraph_font_head";
}
section.bedsheet .imageGal .imgContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  width: 95%;
  margin: 4rem auto;
}
section.bedsheet .imageGal .imgContainer img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #1d1d1d;
}
section.bedsheet .callToAction a {
  text-decoration: none;
}
section.bedsheet .callToAction button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  border: none;
  margin: 0 0 0 3rem;
  cursor: pointer;
  color: #ffffff;
  background: #25d366;
  transition: 0.3s ease;
}

section.bedsheet .callToAction button:hover {
  background: #1d1d1d;
}
.swiper-pagination-bullet-active {
  width: 3rem !important;
  height: 1rem !important;
  border-radius: 1rem !important;
  background: #ffffff !important;
}
#whatsApp {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#whatsApp button {
  margin-top: 1rem;
  background: #25ac56 !important;
  font-size: 2rem;
  color: #ffffff;
}
#whatsApp .toolpit {
  position: absolute;
  left: -8rem;
  top: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #1d1d1d;
  color: #ffffff;
  border-radius: 0.5rem;
  font-family: paragraph_font;
  transform: scale(0);
  transition: 0.3s ease;
}
#whatsApp button:hover + .toolpit {
  transform: scale(1);
}
#backToTopBtn {
  transform: scale(0);
  transition: 0.3s ease;
}
section.Puff .first {
  width: 43rem;
}
section.Puff .firstHead {
  width: auto !important;
}
section.Puff .headtext .text p {
  font-size: 2.3rem;
}
section.Puff .headtext .text p span {
  color: #e5b80b;
}
p#highloghtedText {
  font-size: 2.2rem;
  color: #e5b80b;
  font-weight: bold;
}
.swiper-pagination-bullet-active{
  background: #e5b80b !important;
}
@media screen and (max-width: 1200px) {
  section.bedsheet .headtext{
    height: 65rem;
  }
}
@media screen and (max-width: 1020px) {
  #hiddenMenu {
    display: block;
    font-size: 4rem;
    color: #fbfaf9;
  }
  nav {
    background: #1d1d1d !important;
    position: relative !important;
  }
  nav img {
    height: 9rem;
  }
  nav ul.hiddenDesktop {
    position: absolute;
    height: auto;
    background: #1d1d1d;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    right: 0;
    z-index: 999;
    width: 35rem;
    transition: 0.2s ease;
    top: 10rem;
    transform: scale(0);
  }
  nav ul.hiddenMobile {
    display: none;
  }

  nav ul li {
    margin: 2rem 1rem;
  }
  #enquiry ul {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #ffffff;
    justify-content: start;
    width: auto;
    padding: 1.5rem;
    color: #ffffff;
    margin-top: 2rem;
    display: none;
  }
  section.about .paragraph {
    width: 95%;
  }

  #productDropdown li a {
    font-size: 1.8rem;
  }
  #productDropdown li {
    width: auto;
  }
  #productDropdown {
    position: relative;
    margin: 0;
    top: 0;
    right: 0;
    margin-top: 2rem;
    width: auto;
    display: none;
  }
  #dropdown li a {
    color: #1d1d1d;
    font-size: 1.8rem;
  }
  header {
    height: 80vh;
  }
  header .headText {
    margin: 15rem 0 0 5rem;
  }
  section.countries .index {
    position: relative;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    margin-top: 3rem;
  }
  section.countries .mainCountriesSection h3.usa {
    top: 40%;
  }
  section.countries .mainCountriesSection h3.uk {
    top: 31%;
  }
  section.countries .mainCountriesSection h3.netherlands {
    top: 33.5%;
    left: 47.5%;
  }
  section.countries .mainCountriesSection h3.germany {
    top: 35.5%;
  }
  section.countries .mainCountriesSection h3.france {
    top: 37%;
    left: 46.8%;
  }
  section.countries .mainCountriesSection h3.australia {
    top: 62%;
    left: 81%;
  }
  section.countries .mainCountriesSection h3.kuwait {
    top: 43.5%;
    left: 58.4%;
  }
  section.countries .mainCountriesSection h3.qatar {
    top: 44.9%;
    left: 59.4%;
  }
  section.countries .mainCountriesSection h3.uae {
    top: 47.5%;
    left: 60.5%;
  }

}
@media screen and (max-width: 930px) {
  section.countries .mainCountriesSection h3 {
    display: none;
  }
  section.bedsheet .headtext .text {
    padding: 0 6rem;
  }
}

@media screen and (max-width: 800px) {
  section.about .chooseUs .partnership {
    flex-direction: column-reverse !important;
  }
  section.about .chooseUs .flexItems {
    flex-direction: column;
    padding: 0rem;
  }
  section.about .chooseUs .flexItemsPricing {
    flex-direction: column-reverse !important;
  }
  section.about .chooseUs .flexItems .detail {
    width: 100%;
    padding: 0 3rem;
    padding: 1rem;
    margin-top: 2rem;
  }
  section.about .chooseUs .flexItems img {
    width: 100%;
    height: auto;
  }
  nav img {
    height: 10rem;
  }
  section.productItem .productDetails {
    width: 100%;
  }
  section.productItem h1 {
    font-size: 3rem;
  }
  section.enquiryForm form {
    width: 95%;
  }
  section.contact .flexDis .disOne {
    display: none;
  }
  section.contact .flexDis .disTwo {
    padding: 4rem 2rem;
    margin: 0;
    width: 100%;
  }
  section.about .chooseUs .tailored .detail,
  section.about .chooseUs .specialized .detail {
    margin-left: 0;
  }
  section.exporting .mainDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
  }
  section.exporting .items img {
    height: 8rem;
  }
  section.exporting .items {
    margin: 1rem;
  }
  section.countries .index {
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
  }
  section.pricing p {
    width: 95%;
  }
  section.pricing .pricingContainer .cards {
    width: 40%;
  }
  section.pricing .pricingContainer .cards ul li {
    font-size: 1.3rem;
    text-align: center;
  }
  section.bedsheet .headtext .text {
    padding: 0 3rem;
  }

  section.bedsheet .imageGal .imgContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 650px) {
}
@media screen and (max-width: 580px) {
  section.pricing .pricingContainer .cards {
    height: 38rem;
  }
  section.pricing .pricingContainer .firstSection,
  section.pricing .pricingContainer .thirdSection {
    height: 35rem;
  }
  section.pricing .pricingContainer .cards h3 {
    font-size: 1.4rem;
  }
  section.pricing .pricingContainer .cards h2 {
    font-size: 2rem;
  }
  section.pricing .pricingContainer .cards ul li {
    font-size: 1.2rem;
  }
  section.pricing .pricingContainer .cards {
    margin: 0.3rem;
  }
  section.productItem .categories .cardSection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin: 8rem auto 5rem;
  }
  section.productItem {
    padding: 5rem 0;
  }
  section.productItem .productDetails {
    width: 90%;
  }

  section.bedsheet .headtext .text {
    width: 100%;
  }
  section.bedsheet .headtext .text {
    padding: 0px 2rem;
  }
  section.bedsheet .headtext .text p {
    font-size: 1.5rem;
  }
  section.bedsheet .imageGal .imgContainer {
    gap: 1rem;
  }
  header .image {
    display: none;
  }
  header .headText {
    margin: 7rem 0 0 5rem;
  }
  section.productItem .categories {
    width: 97%;
  }
  section.bedsheet .callToAction button {
    margin: 0 0 0 1rem;
  }
  section.Puff .first {
    width: 80%;
  }
  section.Puff .firstContentPara p {
    font-size: 2rem !important;
  }
  section.bedsheet .headtext {
    height: 50rem;
}
}
section.bedsheet .headtextMobile {
  height: 60rem;
}
@media screen and (max-width: 500px) {
  header .headText {
    margin: 0 0 0 2rem;
  }
  header .headText img {
    height: 5rem;
  }
  header .headText h1 {
    font-size: 4rem;
  }
  header .headText h3 {
    font-size: 2.5rem;
  }
  nav {
    padding: 0rem 2rem 0 0;
    height: 10rem;
  }
  section.enquiryForm form .formSection {
    flex-direction: column;
  }
  section.enquiryForm form .formSection .firstSectionForm {
    width: 100%;
    margin: 0;
  }
  section.enquiryForm form .formSection .secondSectionForm {
    width: 100%;
    margin: 0;
  }
  section.enquiryForm form button {
    width: 100%;
  }
  section.exporting .mainDiv {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  section.exporting {
    padding: 4rem 0.5rem;
  }
  section.exporting .items h4 {
    font-size: 1.5rem;
  }
  section.exporting .items img {
    height: 11rem;
  }
  section.about {
    padding: 2rem 0.5rem;
  }
  section.contact {
    padding: 0;
  }
  header .headText img {
    width: auto;
  }
  section.countries .index {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }
  section.contact .flexDis {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1d1d1d;
    border-radius: 2rem;
    width: 100%;
    height: auto;
    border-radius: 0;
  }
  section.pricing p {
    font-size: 1.5rem;
    text-align: justify;
  }
  section.pricing .pricingContainer {
    flex-direction: column;
    width: 100%;
  }
  section.pricing .pricingContainer .cards {
    width: 90%;
    height: auto;
    margin: 2rem 0;
  }
  section.pricing .pricingContainer .cards h3 {
    font-size: 2.4rem;
  }
  section.pricing .pricingContainer .cards h2 {
    font-size: 3rem;
  }
  section.pricing .pricingContainer .cards ul li {
    font-size: 1.7rem;
  }
  section.Puff .first {
    width: 100%;
  }
  section.productItem .categories .cardSection .items {
    margin: 1rem;
  }
}
@media screen and (max-width: 400px) {
  section.countries .index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
